@using MvcOnlineTicariOtomasyon.Models.Sınıflar
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<Kategori>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-bordered" style="margin-top:20px">
    <tr>
        <th>NO</th>
        <th>KATEGORİ ADI</th>
        <th>GÜNCELLE</th>
        <th>SİL</th>

    </tr>
    @{ int sira = 0;}
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @{ sira++;}
                @sira
            </td>
            <td>
                @item.KategoriAd
            </td>
            <td>
                <a href="/Kategori/KategoriGetir/@item.KategoriID" class="btn btn-success">Güncelle</a>
            </td>
            <td>
                <a href="/Kategori/KategoriSil/@item.KategoriID" class="btn btn-danger">Sil</a>
            </td>
        </tr>
    }
</table>
@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Index", new { sayfa }))
<a href="/Kategori/KategoriEkle" class="btn btn-primary">Yeni Kategori</a>
