@model MvcOnlineTicariOtomasyon.Models.Sınıflar.Personel
@{
    ViewBag.Title = "PersonelEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2 style="text-align:center">Yeni Personel Sayfası</h2>
<br />
@using (Html.BeginForm("PersonelEkle", "Personel", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <form class="form-group" method="post">
        <label>Ad</label>
        @Html.TextBoxFor(x => x.PersonelAd, new { @class = "form-control" })
        <br />
        <label>Soyad</label>
        @Html.TextBoxFor(x => x.PersonelSoyad, new { @class = "form-control" })
        <br />
        <label>Görsel</label>
        @*@Html.TextBoxFor(x => x.PersonelGorsel, new { @class = "form-control" })*@
        <input type="file" name="PersonelGorsel" />
        <br />
        <label>Departman</label>
        @Html.DropDownListFor(x => x.DepartmanId, (List<SelectListItem>)ViewBag.dgr1, new { @class = "form-control" })
        <br />
        <button class="btn btn-primary">Ekle</button>
    </form>
}




